<div class="container">
    <div class="header d-flex justify-content-between">
        <ul class="nav">
                <% if (user) { %>
                    <a class="badge badge-secondary" href="#"><%=user%></a>
                <% } %>
                <a class="badge badge-light" href="/open"><li>Open</li></a>
                <a class="badge badge-light" href="/posts"><li>Posts</li></a>
                <a class="badge badge-light" href="/post/add"><li>Add post</li></a>
        </ul>
       
        <ul class="nav">
            <li><a class="badge badge-dark" href="/logout" class="btn-exit">Logout</a></li>  
        </ul>
            
            
        
    </div>
</div>