<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title><%=title%></title>
</head>
<body>
    <%- include('./partials/header.ejs') %>

    <div class="page-bg addPost">
        <div class="container">
            <h1 class="addPostTitle">Add Post</h1>
            <form  action="/post/add" method="POST" enctype="multipart/form-data">
                 <div class="col-sm-4">
                     <input type="text" class="form-control form-control-lg" id="colFormLabelLg" placeholder="Enter title..." name="title">  
                 </div>
                 <div class="col-sm-4">
                     <input type="text" class="form-control form-control-lg" id="colFormLabelLg" placeholder="Enter text..." name="text">  
                 </div>
                 <div class="col">
                     <input type="file" class="" name="url" accept="image/jpeg,image/png" value="/img/post-img" >
                 </div>

                 <input type="hidden" value="<%=id%>" name="id">
     
                 <div class="col">
                     <button class="btn btn-dark col-sm-2" type="submit">Send</button>
                 </div>
                 
                
            </form>
         </div>
         
    </div>
</body>
</html>