<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title><%=title%></title>
</head>



<body>
   
        <div class="container">
            <div class="header d-flex justify-content-end">

                <ul class="nav">
                    <a class="badge badge-dark" href="/open"><li>Open Blog</li></a>
                    <a class="badge badge-light" href="/auth/log"><li>Login</li></a>
                    <a class="badge badge-light" href="/auth/reg"><li>Registration</li></a>
                </ul>
                
            </div>
        </div>

        <div class="hello-img">
            <div class="info">
                <h1 class="info-title">&lt;h1 Hello Blog.../&gt;</h1>
                <h3 class="info-subtitle">Welcome to...</h3>
                <div>
                    <a class="info-btn badge badge-danger" href="/open"><li>Open Blog</li></a>
                </div>
            </div>
        </div>

    

    

   
   
</body>
</html>