<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title><%=title%></title>
</head>
<body>
    

   <%- include('./partials/header.ejs') %>


   <div class="img"></div>


</body>
</html>