<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>

    <div class="hello-img">
        <div class="container">
            <a class="badge badge-danger mt-3" href="/">Prev</a>
            <div class="window">
                <h2 class="window-title">Registration</h2>
                <form  class="form" action="/reg/add" method="POST">
                    <input type="text" placeholder="login" name="name">
                    <input type="password" placeholder="password" name="pass" required>
                    <input type="text" placeholder="email" name="email"><br>
                    <button class="btn btn-dark" type="submit">Send</button>
                </form>
            
            
            </div>
        </div>
    </div>
    
</body>
</html>

